div table{
    width: 100px important!
}

td.dpicker-inactive {
color: grey;
}
button {
    border-width: 0px;
    margin: 1px 1px 1px 1px;
    padding: 1px 6px 1px 6px;
}
button.dpicker-active {
background: coral;
}

.dpicker-invisible {
display: none;
}
.dpicker-visible {
display: block;
}
