{# views/widgets/progressbar.html.twig #}

<div style="min-height:48px; max-height:48px;
            vertical-align: middle;
            text-align: center;
            padding-bottom:3px;"
    >
    <div id="progressbar" style="display:none;">
        <div id="_msg">
            Ready
        </div>
        <div class="progress"  id="_progress">
            <div class="progress-bar progress-bar-info active" role="progressbar"
            style="width:0%"></div>
        </div>
    </div>
</div>
