{# components/users/views/manage.html.twig #}

{% extends 'views/base.html.twig' %}

{% block body %}
    {% include 'views/menu.html.twig' %}

    {% block main %}
    <div id="page-wrapper">
    	<div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Usuarios</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default"  style="margin-bottom:80px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Usuarios Registrados</h3>
                    </div>
                    <div class="panel-body" id="getusers">
                        {% include loading %}
                    </div>
                    <div class="panel-footer col-md-12" style="text-align:center;">
                        <button type="button" name="add_usuarios_registrados" class="btn btn-primary" onclick="window.location.href = 'admin/add_user.php';">Agregar Usuarios</button>
    					<button type="button" data-fun="usuarios_registrados" class="btn btn-info"  onclick="genPdf(this)" >Imprimir</button>
                    </div>

                </div>
                <div class="col-md-12">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="margin-bottom:80px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Usuarios Pendiendes</h3>
                    </div>
                    <div class="panel-body" id="getpendingusers">
                        {% include loading %}
                    </div>
    				<div class="panel-footer button_box" align="center">
    					<button type="submit" name="submits" class="btn btn-primary">Aplicar</button>
    					<button type="reset" class="btn btn-default" onclick="resetAlerts(this)">Deshacer</button>
    					<button type="button" data-fun="usuarios_pendientes" class="btn btn-info"  onclick="genPdf(this)" >Imprimir</button>
    				</div>
                </div>
            </div>
    	</div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {% for script in js %}
            <script src="{{ script }}" charset="utf-8"></script>
        {% endfor %}

    {% endblock %}

{% endblock %}
