{# components/bills/views/addbill.html.twig #}

{% extends 'views/base.html.twig' %}

{% block body %}
    {% include 'views/menu.html.twig' %}

    {% block main %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h2 id="titulo" class="page-header">Agregar Gasto</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <form class="" action="admin/add_bill.php" method="post">
                            <div class="form-group col-md-8">
                                <label for="">Proveedor:</label>
                                <select class="form-control" name="prov" id="prov" onchange="select_prov(this)">
                                    <option value="0" default>Otro</option>
                                    <?php
                                    while($a = mysql_fetch_array($rprov)){
                                        ?>
                                        <option value=<?php echo $a[0]; ?>><?php echo $a[1]; ?></option>
                                        <?php
                                    }
                                     ?>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Fecha:</label>
                                <input placeholder="aaaa-mm-dd" class="form-control" type="date" name="date" id="date" value="" format="YYYY-MM-DD" onblur="">
                                <div class="">

                                </div>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="">Nombre o Razón Social:</label>
                                <input class="form-control" type="text" name="name" id="name" value="" onblur="capitalize(this)">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Forma de Pago:</label>
                                <select class="form-control" name="method" id="method">
                                    <option value="CHEQUE">Cheque</option>
                                    <option value="CAJA CHICA">Caja Chica</option>
                                    <option value="TRANSFERENCIA">Transferencia</option>
                                    <option value="PAGO ELECTRONICO">Pago Electrónico</option>
                                    <option value="TDD" selected>Tarjeta de Débido</option>
                                    <option value="TDC">Tarjeta de Crédito</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="">Descipción:</label>
                                <input class="form-control" placeholder="40 caracteres máximo" maxlength="40" type="text" name="desc" id="desc" value="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">RIF:</label>
                                <input class="form-control" type="text" name="rif" id="rif" value="" onblur="capitalize(this)">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Tipo de Gasto:</label>
                                <!--<input class="form-control" type="text" name="class" id="spe_type" value="" onblur="check_type(this)">-->
                                <select class="form-control" name="" id="spe_type">
                                    <option value="1" id="up_fk_type_1">PERSONAL</option>
                                    <option value="2" id="up_fk_type_2">MATERIALES</option>
                                    <option value="3" id="up_fk_type_3">SERVICIOS</option>
                                    <option value="4" id="up_fk_type_4">BIENES</option>
                                    <option value="5" id="up_fk_type_5">LEGAL</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Forma de Cargo:</label>
                                <select class="form-control" name="up_op" id="up_op">
                                    <option value="">Seleccione:</option>
                                    <option value="0" id="up_op_0">Equitativo</option>
                                    <option value="1" id="up_op_1">Ponderado</option>
                                </select>
                            </div>
                            <div class="from-group col-md-5">
                                <label for="">Monto:</label>
                                <input class="form-control" type="text" name="amount" value="" id="amount" placeholder="Formato : #.###.###,##" onblur="setIvaTotal()" onkeyup="alertNumberEs(this)">
                            </div>
                            <div class="form-group col-md-7" style="text-align:center;">
                                <div class="col-md-12">
                                    <label for="">IVA:</label>
                                </div>

                                <div class="col-md-4">
                                    <select class="form-control" width="12px" name="" id="alic" onchange="setIvaTotal()">
                                        <option value="0.12">12%</option>
                                        <option value="0.1">10%</option>
                                        <option value="0">Excento</option>
                                    </select>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" width="12px" type="text" name="iva" value="" id="iva" readonly>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label for="">Total:</label>
                                    <input class="form-control" type="text" name="total" value="" id="total" onchange="setIvaTotal()" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Tipo de Soporte:</label>
                                    <select class="form-control" name="log" id="log">
                                        <option value="COMPROBANTE">Comprobante</option>
                                        <option value="FACTURA">Factura</option>
                                        <option value="RECIBO">Recibo</option>
                                        <option value="N/D" selected>Ninguno</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 button_box" align="center">
                                <button type="submit" name="submit" class="btn btn-success">Enviar</button>
                                 <button type="button" name="back" class="btn btn-warning" onclick="history.go(-1)">Regresar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}
