{# components/security/views/login/simbutton.html.twig #}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{{ menu.href.sim.login }}" class="btn btn-block btn-primary">   Prueba el Simulador</a>
            </div>
        </div>
    </div>
</div>
