<page backtop="30mm" backbottom="10mm" backleft="10mm" backright="10mm">
    <page_header>
        <table border="0" >
            <tr>
                <td><img src="../static/banner468x60.png" alt=""></td>
                <td style="vertical-align:text-bottom;margin:0,auto;">
                    <ul style="list-style: none; margin-top:10px;">
                        <li><strong>Solicitante:</strong> %user%</li>
                        <li><strong>Fecha:</strong> %date%</li>
                        <li><strong>Hora:</strong> %time%</li>
                    </ul>
                </td>
            </tr>
        </table>
    </page_header>
    <page_footer>
        <h5 align="right">Página [[page_cu]] / [[page_nb]]</h5>
    </page_footer>
    <div id="page_content" class="%class%">
        <div>
            %title%
        </div>
        <div>
            %body%
        </div>
    </div>
</page>
