<div class="panel panel-default" id="profile_A17">
    <div class="panel-heading">
        Datos de la Vivienda
    </div>
    <input type="text" name="edif" value="A17" hidden>
    <div class="panel-body">
        <div class="form-group">
            <div class="checkbox">
                <label for="multi"><input type="checkbox" id="multi" name="multi" value="1"> Documento Multifamiliar</label>
            </div>
            <div class="checkbox">
                <label for=""><input type="checkbox" name="uni" id="uni" value="1"> Documento Unifamiliar</label>
            </div>
        </div>
        <div class="form-group">
            <label>Servicio de gas:</label>
            <div class="">
                <label  class="radio-inline"><input type="radio" id="opgas" name="gas" value="1">Operativo</label>
                <label  class="radio-inline"><input type="radio" name="gas" id="degas" value="2">Defectuoso</label>
                <label  class="radio-inline"><input type="radio" name="gas" id="nogas" value="3">No instalado</label>
            </div>
        </div>
        <div class="form-group">
            <label>Telefonía fija CANTV:</label>
            <div class="">
                <label  class="radio-inline"><input type="radio" name="telcantv" id="optelcantv" value="1">Operativo</label>
                <label  class="radio-inline"><input type="radio" name="telcantv" id="detelcantv" value="2">Defectuoso</label>
                <label  class="radio-inline"><input type="radio" name="telcantv" id="notelcantv" value="3">No instalado</label>
            </div>
        </div>
        <div class="form-group">
            <label>Internet CANTV ABA:</label>
            <div class="">
                <label  class="radio-inline"><input type="radio" name="abacantv" id="opabacantv" value="1">Operativo</label>
                <label  class="radio-inline"><input type="radio" name="abacantv" id="deabacantv" value="2">Defectuoso</label>
                <label  class="radio-inline"><input type="radio" name="abacantv" id="noabacantv" value="3">No instalado</label>
            </div>
        </div>
        <div class="form-group">
            <label>TV Satelital CANTV:</label>
            <div class="">
                <label  class="radio-inline"><input type="radio" name="tvcantv" id="optvcantv" value="1">Operativo</label>
                <label  class="radio-inline"><input type="radio" name="tvcantv" id="detvcantv" value="2">Defectuoso</label>
                <label  class="radio-inline"><input type="radio" name="tvcantv" id="notvcantv" value="3">No instalado</label>
            </div>
        </div>
        <div class="form-group">
            <label>DirecTV:</label>
            <div class="">
                <label  class="radio-inline"><input type="radio" name="directv" id="opdirectv" value="1">Operativo</label>
                <label  class="radio-inline"><input type="radio" name="directv" id="dedirectv" value="2">Defectuoso</label>
                <label  class="radio-inline"><input type="radio" name="directv" id="nodirectv" value="3">No instalado</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label class="">Número de automóviles
                </label>
                <input type="number" class="form-control" name="cars" id="cars">
                <!--<select class="form-control" name="">
                    <option value="0" selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>-->


            </div>
            <div class="col-md-6">
                <label for="a" class="form-inline">Número de motos</label>
                <input type="number" class="form-control" name="motos" id="motos">
                <!--<select class="form-control" name="">
                    <option value="0" selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>-->
            </div>

        </div>
    </div>
</div>
