
<div id="carousel">
    <div class="btn-bar" hidden>
        <div id="buttons" hidden>
            <a id="prev" href="#"><</a><a id="next" href="#">></a>
        </div>
    </div>
    <div id="slides">
        <ul>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase"><span class="quote-marks">"</span>Relación de gastos mensual en <strong>digital</strong><span class="quote-marks">"</span></p>
                </div>
            </li>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase"><span class="quote-marks">"</span>Gestión integrada de Caja Chica<span class="quote-marks">"</span></p>
                </div>
            </li>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase"><span class="quote-marks">"</span>Notificaciones por <strong>correo-e</strong> personalizables<span class="quote-marks">"</span></p>
                </div>
            </li>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase"><span class="quote-marks">"</span>Información financiera-contable en <strong>tiempo real</strong><span class="quote-marks">"</span></p>
                </div>
            </li>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase"><span class="quote-marks">"</span>Encuestas <strong>on-line</strong> en dos clicks<span class="quote-marks">"</span></p>
                </div>
            </li>
            <!--<li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase"><span class="quote-marks">"</span>Carl Fakeguy, was the most helpful designer I've ever hired. He listened to my ideas and advised against things that could negatively affect my CEO. Company A is by far the most generous and helpful company, 5/5!<span class="quote-marks">"</span>

                    </p>
                </div>
                <div class="authorContainer">
                    <p class="quote-author">Janice Falsename</p>
                </div>
            </li>-->
        </ul>
    </div>
</div>
