{# components/payments/views/index.html.twig #}

{% extends 'views/base.html.twig' %}

{% block body %}
    {% include 'views/menu.html.twig' %}

    {% block main %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Pagos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Historial de Pagos</h4>
                    </div>
                    <div class="panel-body" id="getpayments">
                        {% include loading %}
                    </div>

                    <div class="panel-footer col-lg-12" style="margin-bottom: 60px;">
                        <button type="button" name="nuevo_pago" class="btn btn-primary btn-lg" style="float: right;" onclick="newPayment()">Registrar Nuevo Pago</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Pagos En Revisión</h4>
                    </div>
                    <div class="panel-body" id="getpendingpayments">
                        {% include loading %}
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Pagos Devueltos</h4>
                    </div>
                    <div class="panel-body" id="getreturnedpayments">
                        {% include loading %}
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {% for script in js %}
            <script src="{{ script }}" charset="utf-8"></script>
        {% endfor %}
    {% endblock %}
{% endblock %}
