{# components/payments/views/manage.html.twig #}

{% extends 'views/base.html.twig' %}

{% block body %}
    {% include 'views/menu.html.twig' %}

    {% block main %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Pagos</h2>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Mes Actual
                    </div>
                    <div class="panel-body" id="getcurrentmonth">
                        {% include loading %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Mes Anterior
                    </div>
                    <div class="panel-body" id="getlastmonth">
                        {% include loading %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Últimos 3 Meses
                    </div>
                    <div class="panel-body" id="getlastthreemonths">
                        {% include loading %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Pagos Pendientes por Revisión
                    </div>
                    <form class="" action="<?php echo PROJECT_HOST;?>core/async_payments.php" method="post">
                        <div class="panel-body" id="pendingpayments" align="center">
                            {{ include(template_from_string(pending)) }}
                        </div>
                        <div class="panel-footer button_box" align="center">
                            <button type="submit" name="submits" class="btn btn-primary">Aplicar</button>
                            <button type="reset" class="btn btn-default" onclick="resetAlerts(this)">Deshacer</button>
    					    <button type="button" data-fun="pagos_pendientes" class="btn btn-info"  onclick="genPdf(this)" >Imprimir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Pagos Rechazados
                    </div>
                    <div class="panel-body" id="refusedpayments">
                        {{ include(template_from_string(refused)) }}
                    </div>
                    <div class="panel-footer button_box" align="center">
    					    <button type="button" data-fun="pagos_rechazados" class="btn btn-info"  onclick="genPdf(this)" >Imprimir</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Pagos Aprobados
                    </div>
                    <div class="panel-body" id="approvedpayments">
                        {{ include(template_from_string(approved)) }}
                    </div>
                    <div class="panel-footer button_box" align="center">
    					    <button type="button" data-fun="pagos_aprobados" class="btn btn-info"  onclick="genPdf(this)" >Imprimir</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {% for script in js %}
            <script src="{{ script }}" charset="utf-8"></script>
        {% endfor %}
    {% endblock %}
{% endblock %}
